.progress {
	width: 100%;
	height: 15px;
	background: #ddd;
	border-radius: 7px;

	margin-top: 5px;
	margin-bottom: 25px;
	.bar {
		height: 15px;
		background: linear-gradient(to right, #9b4dca, #9b4dca, #a759d6);
		border-radius: 7px;
	}
}