.todo-item {
    background: #F4F4F4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
}
.todo-badge {
    float: right;
    text-align: center;
    width: 100px;
    
    margin-right: 20px;
    margin-top: 5px;

    border: 1px #9b4dca solid;
    border-radius: 10px;
    color: #9b4dca;
}